#dvTitulo {
    width: 1200px;
    height: 200px;
    vertical-align: middle;
    text-align: center;


}

.clsTitulo {
    font-family: 'Agency FB';
    font-size:medium;
    position:fixed sticky;
    color: #0094ff;
    font-size: 50px;
    font-weight: bold;

}


.clsGuias {
    font-family: 'Agency FB';
    font-size:medium;
    color: #0094ff;
    font-size: 30px;
    font-weight: bold;

}

.clsRodape {
    font-family: 'Agency FB';
    font-size:medium;
    color: #0094ff;
    font-size: 20px;
    font-weight: bold;

}

.clstxt {
    font-family: 'Agency FB';
    font-size: medium;
    color: #0094ff;
    font-size: 25px;
    font-weight: bold;
 
}